@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html,
html body {
  min-height: 100%;
  font: 16px/1.25em "Source Sans Pro", sans-serif;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

html {
  background: #ddd;
}

a,
address,
aside,
b,
blockquote,
body,
code,
details,
div,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
label,
li,
menu,
nav,
ol,
output,
p,
pre,
s,
section,
span,
strong,
time,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body #menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #224281;
  box-shadow: none;
  z-index: 2;
}

#footer nav.menu,
body.kind-home #menu {
  text-align: center;
}

#footer .menu .home,
body.kind-home #menu .home {
  display: none;
}

#footer section nav.menu ul,
body.kind-home #menu > nav.menu ul {
  float: none;
}

#footer nav.menu ul,
#footer nav.menu ul > li,
body #menu > nav.menu ul,
body #menu > nav.menu ul > li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

body #menu > nav.menu ul > li.home-btn {
  display: none;
}

#footer nav.menu ul,
body #menu > nav.menu ul {
  float: right;
}

#footer nav.menu ul a,
body #menu > nav.menu a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  padding: 1.5rem 1rem;
}

#footer a:focus,
#footer a:hover,
body #menu > nav.menu a:focus,
body #menu > nav.menu a:hover {
  color: #9ef !important;
}

body #menu > nav.menu a.home {
  position: relative;
  width: 200px;
  font-size: 0;
  outline: 0;
}

body #menu > nav.menu a.home::after,
body #menu > nav.menu a.home::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0.85rem 0;
  background: url(/images/getenvoy-horizontal-white.svg) no-repeat left;
  background-size: contain;
  display: block;
  width: 100%;
  transition: all 0.5s;
}

body #menu > nav.menu a.home::after {
  background-image: url(/images/getenvoy-horizontal.svg);
  opacity: 0;
}

body #menu > nav.menu a.home:focus::after,
body #menu > nav.menu a.home:hover::after {
  opacity: 1;
  filter: grayscale(0);
}

body #header > header,
body #main,
body #menu > nav,
footer > section {
  margin: 0 auto;
  width: 100%;
}

body #menu > nav {
  min-height: 4rem;
  padding: 0 16px;
}

body.kind-home section#why,
body.kind-home section.quote {
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: left;
}

body.kind-home section.quote {
  font-size: 1.67rem;
}

body.kind-home section.quote footer p {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  font-size: 1.25rem;
}

body.kind-home section.quote footer p.author {
  font-weight: 600;
}

body.kind-home section.quote footer p.job-title::after {
  content: ", ";
}

body.kind-home section.quote > blockquote {
  margin: 2rem;
  padding: 4rem;
  background: #224281;
  color: #fff;
}

body.kind-section.section-install #main > section.environments {
  padding: 4rem 0 0;
}

body.kind-home #main section > h3,
body.kind-section.section-docs section.environments > h3,
body.kind-section.section-install section.environments > h3 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

body .card {
  display: inline-block;
  width: 20rem;
  padding: 2rem;
  margin: 0 1rem 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 0 0 1px #ccc;
  border-radius: 4px;
  line-height: 1.4em;
  font-size: 1.1rem;
  min-height: 14rem;
  vertical-align: top;
}

body.kind-home #main .card > h4 {
  font-weight: 700;
  color: #000;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

body.kind-page.section-docs #header > header,
body.kind-section.section-install #header > header {
  display: none;
}

body.kind-home #header > header {
  max-width: 100%;
  padding: 0;
}

body.kind-home #header > header .about,
body.kind-home #header > header .cta {
  background: #224281;
  padding: 2rem 0 2rem;
  margin: 0;
}

body.kind-home #header > header > .cta {
  padding: 0 0 1rem;
  margin-top: 0;
}

body.kind-home #header > header .environments {
  background: #dce8f4;
  background: #f4f4f4;
  margin: 0;
  padding: 2rem 0;
}

body.kind-home #header > header .environments h4 {
  display: none;
}

body #header {
  background: #008fd1;
}

body #header > header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body #header > header > h1 {
  margin: 0 1rem;
  position: relative;
  z-index: 1;
  line-height: 1.1em;
  color: #fff;
}

body #header > header > h1 > em {
  display: none;
}

body > :nth-child(2) {
  padding-top: 4.25rem !important;
}

body.kind-home > :nth-child(2) {
  padding-top: 2rem !important;
}

body #main > section {
  text-align: center;
  padding: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif !important;
}

body h3 {
  font-size: 1.67em;
}

header.major {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
}

h1.logo {
  width: 33%;
  min-width: 20rem;
  position: relative;
  margin: 0;
  font-size: 0;
  color: transparent;
  display: inline-block;
  box-sizing: content-box;
  margin-bottom: 2rem;
  max-width: 30rem;
}

h1.logo::after {
  content: "";
  width: 100%;
  padding: 33% 0 0;
  display: block;
  position: relative;
  background: url(/images/getenvoy-horizontal-white.svg) no-repeat center;
  background-size: contain;
}

header.major > h2,
header.major > h3 {
  font-size: 2rem;
  color: #fff;
  line-break: 1.1em;
  font-weight: 200;
}

header.major > h3 {
  font-size: 1.67rem;
  font-weight: 700;
}

header > .cta h3 {
  display: none;
}

body.kind-home #header > header > .cta > .cta {
  text-align: center;
  margin-top: -2rem;
}

.cta > a,
header > .cta > .cta > a {
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: -1px;
  display: inline-block;
  font-size: 1.5rem;
  min-width: 12rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #008fd1;
  border: none;
  margin: 0.5rem;
  border-radius: 4px;
  transition: 0.5s;
}

header > .cta > p a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

header > .cta > p a:hover {
  border-bottom: 1px dotted;
  color: #9ef;
}

a:hover {
  color: #57bdd6;
}

.cta > .cta > a.btn-primary:focus,
.cta > .cta > a.btn-primary:hover {
  background: #57bdd6;
  color: #fff;
}

header > .cta a,
header > .cta > p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  border: none;
}

header > .about strong,
header > .cta strong {
  font-weight: 700;
  color: #fff;
}

.page.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #008fd1;
  text-decoration: none;
}

#main > .environments > h4,
body.kind-home #main > .environments > h4 {
  display: none;
}

#main > .environments > ul,
#main > .environments > ul > li,
body.kind-home .environments > ul,
body.kind-home .environments > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  position: static;
  font-size: 0;
}

body.kind-home .environments > ul li a {
  max-width: 13rem;
}

.environments {
  text-align: center;
  font-size: 0;
}

.environments > * {
  font-size: 1rem;
}

.environments ul li {
  display: inline;
  list-style: none;
}

body .hide-me {
  position: fixed;
  left: -99rem;
  top: -99rem;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  max-width: 0;
  z-index: -1;
}

.package-environment {
  display: inline-block;
  margin: 1rem 1%;
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 4px #d5dde5, 0 0 0 4px #008fd1;
  border-radius: 36px;
  position: relative;
  min-width: 140px;
  transition: 0.5s all;
  background: #fff;
  border: none;
}

.package-environment:focus,
.package-environment:hover {
  background: #f6fdff;
  background: #ddf9ff;
  box-shadow: 0 2px 8px #b9ccdf, 0 0 0 4px rgba(5, 113, 167, 0.67);
  outline: 0;
}

.package-environment:active {
  background: #c0eef9;
  box-shadow: inset 0 2px 4px #b9ccdf, 0 0 0 2px rgba(5, 113, 167, 0.5);
}

.package-environment::before {
  padding-top: 100%;
  content: "";
  display: block;
}

.package-environment > .title {
  position: absolute;
  margin: 0;
  font-size: 0;
  top: -2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  color: transparent;
  background: transparent no-repeat center;
  background-size: 80% auto;
}

.package-environment.CentOS > .title {
  background-image: url(/images/centos.png);
}

.package-environment.Red.Hat > .title {
  background-image: url(/images/redhat.svg);
}

.package-environment.Debian > .title {
  background-image: url(/images/debian.png);
  background-size: 66.7% auto;
  background-position-y: 45%;
}

.package-environment.Ubuntu > .title {
  background-image: url(/images/ubuntu.svg);
  background-size: 90% auto;
  top: -4%;
}

.package-environment.macOS > .title {
  background-image: url(/images/macos.svg);
  background-size: 50% auto;
  background-position-y: 49%;
}

.package-environment.Docker > .title {
  background-position-y: 47%;
}

.package-environment.Linux > .title {
  background-size: 70% auto;
}

.header .about,
.header .cta {
  background: #224281;
}

.header .cta {
  padding-bottom: 2rem;
}

.cta.buttons {
  text-align: center;
  padding-top: 2rem;
}

#quickstart-container {
  position: relative;
}

#quickstart {
  display: flex;
  flex-wrap: nowrap;
}

#quickstart h2 {
  font-weight: 700;
}

#quickstart-binary,
#quickstart-cli {
  width: 50%;
  padding: 64px 48px;
}

#quickstart-cli {
  background: #c2d1ef;
}

#quickstart-binary pre,
#quickstart-cli pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

#quickstart-binary {
  background: #ebf0fa;
}

#quickstart-binary ul li {
  display: inline;
}

#binary-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-bottom: 32px;
}

.binary-link {
  flex: 1;
}

.binary-link .package-environment {
  margin: 1rem 8px 1rem 0;
  font-size: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  position: relative;
  min-width: 72px;
  transition: 0.5s all;
  background: #fff;
  border: none;
}

.binary-link .package-environment::before {
  padding-top: 100%;
  content: "";
  display: block;
}

.button {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-color: transparent;
  color: #787878 !important;
  padding: 0 1.5em;
  margin: 0 0 1.5em 0;
  text-align: center;
  white-space: nowrap;
  border: solid 3px #efefef;
  border-radius: 0.35em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

#or-button {
  padding: 16px;
  background: #224281;
  color: #fff;
  text-align: center;
  width: 56px;
  height: 56px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
}

#main > section.subscribe,
#main > section.subscribe::before {
  height: 16rem;
  background: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

#main > section.subscribe h3 {
  margin: -1rem 0 1rem;
}

#main > section.subscribe label {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

#main > section.subscribe label input {
  font-size: 1rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 17rem;
  color: #666;
}

#main > section.subscribe label input:focus,
#main > section.subscribe label input:hover {
  background: #f6fdff;
  box-shadow: inset 0 2px 4px #b9ccdf, inset 0 0 0 1px rgba(5, 113, 167, 0.67);
}

#footer {
  background: #224281;
  position: relative;
  text-align: center;
  color: #fff;
}

#footer section {
  padding: 1rem 0 3rem;
}

#footer .logo {
  display: inline-block;
  margin: 2rem;
}

#footer .logo h3 em {
  display: block;
  font-size: 0;
  line-break: 0;
  background: url(https://www.getenvoy.io/images/logo-text.svg) no-repeat center;
  filter: grayscale(100%) brightness(0);
  opacity: 0.33;
  background-size: contain;
  height: 12rem;
  width: 16rem;
  margin: 0 0 -1rem;
}

#footer section,
#footer section .copyright,
#footer section .copyright a,
#footer section .icons a {
  color: #fff;
}

#footer section.copyright-box {
  margin: 0;
  max-width: 100%;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.25rem 0.5rem 0.5rem;
}

.toc-navbar {
  margin-top: 48px;
}

.toc-navbar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.toc-navbar ul li {
  padding-left: 0;
  margin-bottom: 8px;
}

.toc-navbar ul li a {
  margin-top: 8px;
  padding-left: 0;
  font-size: 0.9rem;
}

.toc-navbar ul li ul li ul {
  margin-top: 8px;
}

.toc-container {
  margin: 0 24px;
  padding: 8px 0 16px 16px;
  border-left: 1px solid #cacaca;
}

.toc-container h4 {
  font-size: 0.9em;
  margin-bottom: 8px;
}

.single-box {
  display: flex;
  align-items: stretch;
}

#menu > nav.menu > .pop-toggle > a {
  display: inline-block;
  width: 2rem;
  text-align: center;
  padding: 1.5rem 0;
}

#menu > nav.menu > * {
  vertical-align: middle;
}

nav.menu > .pop-toggle {
  display: none;
}

.body.list article {
  margin-bottom: 3rem;
}

.body.list article .metadata {
  margin-bottom: 1rem;
}

.body > section.next-steps {
  margin-top: 3rem;
}

.body > section.next-steps > a {
  margin-bottom: 2rem;
  display: block;
  border: none;
}

.body > section.next-steps > a > h4 {
  font-weight: 700;
  margin: 1rem 0;
  border-bottom: 1px solid transparent;
  font-size: 1.25rem;
}

.body > section.next-steps > a:hover > h4 {
  border-bottom: 1px dotted;
}

.body > section.next-steps > a > p {
  color: #666;
}

.single-box > nav {
  text-transform: uppercase;
  background: #f2f6fc;
  min-width: 16rem;
  max-width: 16rem;
  padding: 3rem 0 3rem 1rem;
}

.single-box > nav ul,
.single-box > nav ul > li {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.single-box > nav ul {
  margin-bottom: 1rem;
}

.single-box > nav ul > li.active::before {
  display: block;
  position: absolute;
  content: "▶";
  padding: 0.5rem 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
  left: 1px;
}

.single-box > nav ul > li.active > a {
  color: #09c;
  font-weight: 700;
}

.single-box nav h4 {
  margin: 0.25rem 0 0.5rem;
}

.single-box nav h4 a {
  text-decoration: none;
  border-bottom: none;
}

.single-box nav h4 a.command {
  text-transform: lowercase;
}

.single-box nav h4 a.active {
  font-weight: 700;
}

.single-box > nav ul > li > a {
  padding: 0.5rem 1rem;
  display: block;
  border: none;
  color: #8bc;
  text-align: left;
  text-transform: none;
}

.single-box > .body.single {
  width: 65%;
  position: relative;
}

.single-box > nav ul.blog > li > a,
.single-box > nav ul.tutorials > li > a {
  font-size: 0.9rem;
}

.body.single {
  padding: 3rem;
  max-width: 60rem;
}

.body.single > ol,
.body.single > ol > li {
  display: block;
  padding: 0;
  margin: 30px 0;
  list-style: none;
}

.body.single > ol {
  counter-reset: steps;
}

.body.single > ol > li {
  padding-left: 2.5rem;
  margin-left: 1.5rem;
  counter-increment: steps;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: inset 3px 0 #b9ccdf;
}

.body.single > ol > li:last-of-type {
  box-shadow: none;
}

.body.single ul > li {
  padding-top: 0.5rem;
}

.body.single h1 {
  margin-bottom: 0.5rem;
}

.body.single h2:not(:first-child) {
  margin-top: 1.5rem;
}

.body.single h2:first-of-type {
  margin-top: 0;
}

.body.single h3,
.body.single h4,
.body.single h5,
.body.single h6 {
  margin-bottom: 1rem;
}

.body.single h2,
.body.single > ol > li strong {
  display: block;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  color: #666;
  margin-bottom: 0.5rem;
}

.body.single > ol > li::before {
  position: absolute;
  top: -0.5rem;
  left: -1rem;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 2.25rem;
  width: 2.25rem;
  box-shadow: 0 0 0 0.75rem #fff;
  content: counter(steps);
  font-weight: 700;
  background: #008fd1;
  color: #fff;
}

.content {
  padding: 0 32px;
}

:root {
  --mdc-theme-primary: #000;
  --mdc-theme-secondary: #666;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
}

aside,
details,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

*,
::after,
::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.container.\31 25\25 {
  width: 100%;
  max-width: 1200px;
  min-width: 960px;
}

.container.\37 5\25 {
  width: 720px;
}

.container.\35 0\25 {
  width: 480px;
}

.container.\32 5\25 {
  width: 240px;
}

body,
input {
  color: #666;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
}

b,
strong {
  font-weight: 400;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 1em;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 1.5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

code {
  background: #f9f9f9;
  border-radius: 0.35em;
  border: solid 2px #efefef;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
  position: relative;
  text-transform: none !important;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

pre button {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 0;
  border: none;
  background: 0 0;
}

pre button img {
  width: 16px;
  height: 16px;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 2em 0 2em 0;
  position: relative;
}

pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}

a > code,
p > code {
  white-space: nowrap;
}

pre + pre code.language-sh-output {
  margin-top: -2rem;
  border-top: none;
  box-shadow: inset 999rem 0 0 rgba(0, 0, 0, 0.03);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #555;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em;
}

form {
  margin: 0 0 2em 0;
}

label {
  color: #787878;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 1em 0;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #f7f7f7;
  border-radius: 0.35em;
  border: solid 2px transparent;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
  width: 100%;
  height: 2.75em;
}

input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="text"]:invalid {
  box-shadow: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #49bf9d;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #a2a2a2;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-transform: none !important;
  background: #f7f7f7;
  border-radius: 0.35em;
  border: solid 2px transparent;
  content: "";
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background: #787878;
  border-color: #787878;
  color: #fff;
  content: "\f00c";
}

input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before {
  border-color: #49bf9d;
}

input[type="checkbox"] + label::before {
  border-radius: 0.35em;
}

input[type="radio"] + label::before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

:-moz-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

::-moz-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

.box {
  border-radius: 0.35em;
  border: solid 2px #efefef;
  margin-bottom: 2em;
  padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image::before {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background: url(https://www.getenvoy.io/css/https://www.getenvoy.io/css/https://www.getenvoy.io/css/images/overlay.png);
  border-radius: 0.35em;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
  max-width: 40%;
}

.image.avatar {
  border-radius: 100%;
}

.image.avatar::before {
  display: none;
}

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 2em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 2em;
}

ul li {
  padding-left: 0.5em;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon::before {
  font-size: 1.5em;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.35em;
  border: solid 3px #efefef;
  color: #787878 !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3.15em;
  height: calc(2.75em + 6px);
  line-height: 2.75em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #49bf9d;
  color: #49bf9d !important;
}

.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: rgba(73, 191, 157, 0.1);
  border-color: #49bf9d;
  color: #49bf9d !important;
}

.button.icon,
input[type="button"].icon,
input[type="reset"].icon,
input[type="submit"].icon {
  padding-left: 1.35em;
}

.button.icon::before,
input[type="button"].icon::before,
input[type="reset"].icon::before,
input[type="submit"].icon::before {
  margin-right: 0.5em;
}

.button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #b2b2b2 !important;
  cursor: default;
}

#footer h4 {
  display: inline-block;
  vertical-align: middle;
}

#footer .icons {
  display: inline-block;
  margin: 0 0 0 1rem;
  vertical-align: middle;
}

#footer .icons a {
  color: rgba(255, 255, 255, 0.4);
}

#footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}

#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.25);
  display: inline-block;
  line-height: 1em;
  margin-left: 0.75em;
  padding-left: 0.75em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: inherit;
}

#contactForm {
  padding: 2em;
  background-color: #93acde;
}

#contactForm h4 {
  margin-bottom: 16px;
  color: #454545;
}

#emailForm {
  display: flex;
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
}

#emailForm input {
  color: #000;
}

#errorMessage {
  display: none;
}

#errorMessage.active {
  display: block;
  color: #c50a0a;
}

#emailForm button {
  width: 120px;
  border-radius: 4px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  padding: 4px 10px;
  color: #fff;
  background-color: #008fd2;
  border-color: #008fd3;
  cursor: pointer;
  margin-left: 16px;
}

#contactForm p {
  color: #454545;
  display: none;
}

#contactForm p.active {
  display: block;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1800px) {
  body,
  input {
    font-size: 12pt;
  }

  .container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
  }

  .container.\37 5\25 {
    width: 720px;
  }

  .container.\35 0\25 {
    width: 480px;
  }

  .container.\32 5\25 {
    width: 240px;
  }

  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1280px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
  }

  .container.\37 5\25 {
    width: 720px;
  }

  .container.\35 0\25 {
    width: 480px;
  }

  .container.\32 5\25 {
    width: 240px;
  }

  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1200px) {
  .binary-link .package-environment {
    min-width: unset;
    width: 72px;
    margin-right: 4px;
  }
}

@media screen and (max-width: 1058px) {
  #binary-container {
    padding-top: 36px;
  }
}

@media screen and (max-width: 980px) {
  body.kind-page #main,
  body.kind-section #main {
    padding: 4em 0 0 0;
  }

  body.kind-home #main {
    padding: 6em 4em;
  }

  .container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
  }

  .container.\37 5\25 {
    width: 720px;
  }

  .container.\35 0\25 {
    width: 480px;
  }

  .container.\32 5\25 {
    width: 240px;
  }

  .container {
    width: 960px;
  }

  #quickstart,
  header.header {
    margin: 0 -64px;
  }

  #quickstart {
    display: block;
  }

  #quickstart-binary,
  #quickstart-cli {
    width: 100%;
  }

  #binary-container {
    padding-top: 0;
  }

  .binary-link {
    text-align: center;
  }

  ul.icons li .icon {
    font-size: 1.25em;
  }

  #header h1 {
    font-size: 1.75em;
  }

  #header h1 br {
    display: inline;
  }

  #footer .icons {
    margin: 0 0 1em 0;
  }

  #footer .copyright {
    margin: 0 0 1em 0;
  }

  #footer .copyright li {
    border-left-width: 1px;
    display: inline-block;
    line-height: 1em;
    margin-left: 0.75em;
    padding-left: 0.75em;
  }

  #main {
    margin: 0;
    padding: 6em 4em;
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  .package-environment {
    min-width: 200px;
    margin: 0.5rem 1rem;
  }
}

@media screen and (max-width: 736px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
  }

  .container.\37 5\25 {
    width: 720px;
  }

  .container.\35 0\25 {
    width: 480px;
  }

  .container.\32 5\25 {
    width: 240px;
  }

  .container {
    width: 960px;
  }

  #quickstart,
  header.header {
    margin: 0 -24px;
  }

  body.kind-home #main,
  body.kind-page #main,
  body.kind-section #main {
    padding: 2.25em 1.5em 0.25em 1.5em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  header.major h2 {
    font-size: 1.35em;
  }

  #main {
    padding: 2.25em 1.5em 0.25em 1.5em;
  }

  #main > section {
    margin: 2.25em 0 0 0;
    padding: 2.25em 0 0 0;
  }
}

@media screen and (max-width: 45rem) {
  html > body > #menu > nav.menu > ul,
  html > body > #menu > nav.menu > ul > li,
  html > body > #menu > nav.menu > ul > li.home-btn {
    display: block;
    float: none;
    width: 100%;
  }

  html > body > #menu > nav.menu > ul {
    position: absolute;
    background: #008fd1;
    left: -999rem;
  }

  html > body > #menu > nav.menu#show-menu:target > ul {
    left: 0;
    top: 4rem;
  }

  html > body > #menu > nav.menu .pop-toggle {
    display: block;
    position: absolute;
    right: 0;
  }

  html > body > #menu > nav.menu .pop-toggle .menu,
  html > body > #menu > nav.menu#show-menu:target .pop-toggle .close {
    display: block;
  }

  html > body > #menu > nav.menu .pop-toggle .close,
  html > body > #menu > nav.menu#show-menu:target .pop-toggle .menu {
    display: none;
  }

  #main > .single-box > nav,
  .single-box > .body.single::before {
    display: none !important;
  }

  #main > .single-box > .body.single {
    border: none;
    padding: 2rem 0;
    width: 100% !important;
  }

  body #menu > nav.menu a.home {
    padding: 0.5rem 0;
    height: 4rem;
  }

  body #menu > nav.menu a.home::after,
  body #menu > nav.menu a.home::before {
    background-size: auto 100%;
    background-position: left;
  }
}

@media screen and (max-width: 500px) {
  #main {
    padding: 2.25em 0;
  }

  #binary-container {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .binary-link .package-environment {
    min-width: 72px;
  }

  #or-button {
    top: 44%;
  }
}

@media screen and (max-width: 480px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px;
  }

  .container.\37 5\25 {
    width: 720px;
  }

  .container.\35 0\25 {
    width: 480px;
  }

  .container.\32 5\25 {
    width: 240px;
  }

  .container {
    width: 960px;
  }

  ul.actions {
    margin: 0 0 2em 0;
  }

  ul.actions li {
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
  }

  ul.actions li > * {
    margin: 0 !important;
    width: 100%;
  }

  ul.actions li > .icon::before {
    margin-left: -2em;
  }

  #footer .copyright li {
    border-left-width: 0;
    display: block;
    line-height: 2.25em;
    margin-left: 0;
    padding-left: 0;
  }
}
